# Временные файлы и логи
*.log
*.tmp
*.part
*_temp.*
*.download

# Кэш и временные директории
cache/
temp_gallery_dl/

# Файлы cookies (секретные данные)
*_cookies.txt

# Виртуальное окружение
venv/
.env

# Служебные файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Локальные конфигурации IDE
.idea/
*.sublime-*
.vscode/
